.example-custom-date-class {
    background: red;
    border-color: 100%;
  }
  .example-custom-date-class1{
    background: gray;
    border-color: 100%;
  }
 
.cdk-overlay-container {
  pointer-events: auto !important;
  zoom: 0.55;
  height: 55% !important;
  width: 55% !important;
  margin: 10%;
}
.cdk-overlay-connected-position-bounding-box {
  top: 10% !important;
  
}
.mat-calendar-controls {
  display: none !important;
}
.mat-calendar-header {
  padding: 25% 8% 0 8% !important;
}
.mat-datapicker-content {
  background-color: unset !important;
  border: 3px solid black !important;
}